

.logo{
    margin: 60px auto 20px auto;
    padding: "15px";
    text-align: "center";
    color: "#333";
}

.logo a{
    text-align: center;
    color: #333;
    font-size: 15px;
    margin: 0 auto;
}

.login-form{
    color: #333 !important;
}

.login-s{
    color: #eff3f8 !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: #eff3f8 !important;
    height: "100%"
}
    .hidden { display:none; }


.content-s{
    background-color: #fff;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

/*.page-md{
    position:absolute;
    height:900px;
    width: 100%;
}*/