.list-group {
    margin-bottom: 0px;
}

.btn-view-log {
    margin-left: 17px;
}

.react-autosuggest__input_indexMap {
    position: absolute;
    z-index: 20;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 240px;
    height: 32px;
    margin-top: 6px;
    padding: 0px 12px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px;
    font-size: 14px;
    outline: none;
    right: 10px;
    top: 0px;
    transition: box-shadow 0.4s ease-in-out;

}
.react-autosuggest__input_indexMap:hover {
    box-shadow: rgba(0, 0, 0, 0.598039) 0px 2px 6px;

}

.react-autosuggest__container_indexMap {    
    position: relative;
}

.react-autosuggest__input--focused_indexMap {
    outline: none;
    }

.react-autosuggest__input--open_indexMap {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }

.react-autosuggest__suggestions-container_indexMap {
    display: none;
}

.react-autosuggest__suggestions-container--open_indexMap {
    display: block;
    position: absolute;
    top: 43px;
    width: 280px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    right: 10px;
}

@media (max-width: 991px) {
    .react-autosuggest__input_indexMap {
        left: 114px;
        top: 47px;
    }
    .react-autosuggest__suggestions-container--open_indexMap {
        left: 114px;
        top: 88px;
    }
}

.react-autosuggest__suggestions-list_indexMap {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion_indexMap {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted_indexMap {
    background-color: #ddd;
}

.suggestionSub {
    font-size: 12px;
    color: #d3d3d3;
}

#notification-circle {
    cursor:pointer;
    top: 50px;
    left: 11px;
    position: absolute;
    z-index: 20;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    -webkit-box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    text-align: center;
    transition: box-shadow 0.4s ease-in-out;
    
}

#notification-circle:hover {
    cursor:pointer; 
    box-shadow: 0 5px 25px rgba(0,0,0,0.41);
}

#notification-circle #number{
    cursor:pointer;
    position: absolute;
    top: -4px;
    left: 25px;
    z-index: 22;
    width: 19px;
    height: 19px;
    color: white;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #f36a5a;
    line-height:19px;
    border: 1px solid white;

}

#notification-circle .fa {
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 25px;
    z-index: 21;
    width: 40px;
    cursor:pointer;
}

.sidebar-notification{
    background-color: white;
    width: 350px;
}



#notification-circle-home {
    cursor:pointer;
    top: 95px;
    left: 11px;
    position: absolute;
    z-index: 20;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    -webkit-box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    box-shadow: -3px 7px 55px -10px rgba(0,0,0,0.61);
    text-align: center;
    transition: box-shadow 0.4s ease-in-out;
    
}

#notification-circle-home:hover {
    cursor:pointer; 
    box-shadow: 0 5px 25px rgba(0,0,0,0.41);
}

#notification-circle-home #number{
    cursor:pointer;
    position: absolute;
    top: -4px;
    left: 25px;
    z-index: 22;
    width: 19px;
    height: 19px;
    color: white;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #f36a5a;
    line-height:19px;
    border: 1px solid white;

}

#notification-circle-home .icon-home {
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 25px;
    z-index: 21;
    width: 40px;
    cursor:pointer;
}
